# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Aa]ssets/DTT
/[Aa]ssets/Agora-RTC-Plugin
/[Aa]ssets/Animation
/[Aa]ssets/Arkham Interactive
/[Aa]ssets/Editor Default Resources
/[Aa]ssets/ExternalDependencyManager
/[Aa]ssets/Firebase
/[Aa]ssets/Font
/[Aa]ssets/GeneratedlocalRepo
/[Aa]ssets/Hospital_LowPoly
/[Aa]ssets/Joystick Pack
/[Aa]ssets/Material
/[Aa]ssets/MonsterLove
/[Aa]ssets/OpenCVForUnity
/[Aa]ssets/Packages
/[Aa]ssets/Photon
/[Aa]ssets/Plugins
/[Aa]ssets/Settings
/[Aa]ssets/StreamingAssets
/[Aa]ssets/Supercyan
/[Aa]ssets/TextMesh Pro
/[Aa]ssets/Ui
/[Aa]ssets/Ui Toolkit
/[Aa]ssets/vInspector
/[Aa]ssets/XR
/[Aa]ssets/Scenes

/[Aa]ssets/DTT.meta
/[Aa]ssets/Agora-RTC-Plugin.meta
/[Aa]ssets/Animation.meta
/[Aa]ssets/Arkham Interactive.meta
/[Aa]ssets/Editor Default Resources.meta
/[Aa]ssets/ExternalDependencyManager.meta
/[Aa]ssets/Firebase.meta
/[Aa]ssets/Font.meta
/[Aa]ssets/GeneratedlocalRepo.meta
/[Aa]ssets/Hospital_LowPoly.meta
/[Aa]ssets/Joystick Pack.meta
/[Aa]ssets/Material.meta
/[Aa]ssets/MonsterLove.meta
/[Aa]ssets/OpenCVForUnity.meta
/[Aa]ssets/Packages.meta
/[Aa]ssets/Photon.meta
/[Aa]ssets/Plugins.meta
/[Aa]ssets/Settings.meta
/[Aa]ssets/StreamingAssets.meta
/[Aa]ssets/Supercyan.meta
/[Aa]ssets/TextMesh Pro.meta
/[Aa]ssets/Ui.meta
/[Aa]ssets/Ui Toolkit.meta
/[Aa]ssets/vInspector.meta
/[Aa]ssets/XR.meta
/[Aa]ssets/Scenes.meta

/[Aa]ssets/NuGet.config
/[Aa]ssets/NuGet.config.meta
/[Aa]ssets/packages.config
/[Aa]ssets/packages.config.meta
/[Aa]ssets/DefaultVolumeProfile.asset
/[Aa]ssets/DefaultVolumeProfile.asset.meta
/[Aa]ssets/photon-chat-readme.txt
/[Aa]ssets/photon-chat-readme.txt.meta
/[Aa]ssets/UniversalRenderPipelineGlobalSettings.asset
/[Aa]ssets/UniversalRenderPipelineGlobalSettings.asset.meta
/[Aa]ssets/Virtual Camera Profile.asset
/[Aa]ssets/Virtual Camera Profile.asset.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/
.vscode/

# Gradle cache directory
.gradle/

# Rider cache directory
.idea/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings
*.vsconfig

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
